[submodule "opencda"]
	path = opencda
	url = ../opencda.git
	branch = main
[submodule "artery"]
	path = artery
	url = ../artery.git
	branch = main
[submodule "scenario-manager"]
	path = scenario-manager
	url = ../scenario-manager.git
	branch = main
